.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid gray;
}

.recipe-info {
  flex: 1;
  text-align: left;
  padding-left: 30px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.edit-button {
  background-color: #242424;
  border: 2px solid gray;
  border-radius: 2px;
  width: 210px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.edit-button a {
  color: rgba(255, 255, 255, 0.87);
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}